<% if !@spiel_types.blank? %>
  	<ul class="secondary-list">
  		<% Article.tagging_contexts.each do |tagging_context| %>
			<li><h2><%= tagging_context.context.capitalize %></h2></li>

			<% @spiel_tags_listing = Tagging.find(:all, :select => "id, tag_id", :group => "tag_id", :conditions => ['context = ?', spiel_type.context]) %>
			<% @spiel_tags_listing.each do |spiel_tag| %>
			<li>				
				<%= link_to spiel_tag.tag.name, :controller => "spiels", :action => "show", :id => spiel_tag.id %> enuf
			</li>	
			<% end %>
		<% end %>
<% else %>
	<li>No Results</li>
			
	
<% end %>
  </ul>
